html {
    overflow: auto;
}

html,
body,
div,
iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

iframe {
    display: block;
    /* background: #FFFFFF; */
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3
}

body {
    /* overflow: hidden;
    overflow-y: hidden; */
    overflow: auto;
    overflow-y: auto;
    
}

#reload_msg {
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index:-1;
    display: none
}